@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  color: inherit;
}

html, body {
  width: 100%;
  height: fit-content;
  position: relative;
}

* {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 0;
  margin: 0;
}

.header-section {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: 40%;
  z-index: 1;
}
.header-section .logo {
  width: 100%;
  height: 24.5%;
  display: flex;
  align-items: center;
  padding-left: 4em;
}
.header-section__background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100;
}
.header-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5970763305) 80%, rgba(255, 255, 255, 0.8) 100%);
  z-index: -99;
}
.header-section .header {
  width: 93%;
  z-index: 1;
  padding: 5em 0 7em 4em;
}
.header-section .header__subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1em;
  width: 30%;
  height: 2px;
  background-color: #FFF;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  padding: 2em;
  z-index: 1;
}
.header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 4rem);
  color: #FFF;
}
.header__subtitle {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding-right: 0.2em;
  color: #FFF;
}

.section {
  display: flex;
  padding-top: 10em;
  padding: 2em;
  flex-direction: column;
  gap: 2em;
}
.section__title {
  font-size: clamp(1.2rem, 1.5vw, 3rem);
  font-weight: 700;
  padding: 0.4em 0 0.4em 0;
}
.section__subtitle {
  font-size: clamp(1rem, 1.5vw, 3rem);
  font-weight: 600;
  padding: 0.4em 0 0.4em 0;
}
.section--active {
  display: flex;
}
.section--inactive {
  display: none;
}
.section__content {
  width: 100%;
}
.section__content__cover {
  width: 100%;
  height: auto;
  display: grid;
}
.section__content__cover__image {
  width: 100%;
  max-width: 38em;
  margin: auto;
  height: 100%;
  max-height: 28em;
  object-fit: cover;
}
.section__content__description {
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.5;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.informations aside {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.text--bold {
  font-weight: 700;
}

.gallery {
  height: max-content;
  width: 100%;
  max-width: 38em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 8em), 1fr));
  gap: 0.5em;
  margin: auto;
  transition: all 20s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.gallery__block {
  position: relative;
}
.gallery__block:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__block:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6235294118);
  transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 10;
}
.gallery__block:hover::before {
  transition: all 1s linear;
  position: absolute;
  content: "";
  width: 6em;
  height: 6em;
  background-image: url("../../image/icon/search.png");
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center center;
  filter: invert(1);
  z-index: 11;
}
.gallery__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 580px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 8em), max(32%, 10em)));
  }
}
.wrapper__content {
  max-width: 60em;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: calc(100vh - 5em);
}

.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(10em, 48%), 1fr));
  gap: 0.5em;
}
.options--image {
  grid-template-columns: repeat(auto-fill, minmax(min(14em, 100%), 1fr));
}

.card {
  position: relative;
  height: 12em;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 1em 0 1em;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 5px;
  backface-visibility: hidden;
  cursor: pointer;
}
.card--imageOption {
  transition: scale 0.2s ease-in;
  height: auto;
  scale: 1;
  padding: 0;
}
.card--imageOption:hover {
  z-index: 4;
  filter: grayscale(0);
}
.card--imageOption .card__image--cover {
  transition: filter 0.2s linear;
  filter: grayscale(0);
}
.card--imageOption .card__input:not(.choice__input):checked + .card__image--cover {
  filter: grayscale(70%);
}
.card--imageOption .card__input:not(.choice__input):checked {
  background-color: rgba(0, 0, 0, 0.301);
  border: none;
}
.card--imageOption .card__input:not(.choice__input):checked::after {
  filter: invert(1);
}
.card__image--cover {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.card__text {
  width: fit-content;
  font-weight: 500;
}
.card:hover {
  background-color: rgba(231, 231, 231, 0.516);
  color: #000;
}
.card__input {
  position: absolute;
  display: block;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
}
.card__input:not(.choice__input):checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(179, 179, 179, 0.668);
  border: 2px solid rgb(65, 65, 65);
}
.card__input:not(.choice__input):checked::after {
  transition: all 1s linear;
  position: absolute;
  content: "";
  width: 4em;
  height: 4em;
  background-image: url("../../image/icon/selected--black.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center center;
  animation: firework 0.2s cubic-bezier(0.98, 0.05, 0.96, 0.46) forwards;
}
.card__input[type=radio]:checked {
  justify-content: center;
  align-items: center;
}
.card.choice {
  user-select: none;
}

.actions {
  margin-top: auto;
  background-color: transparent;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 100;
}
.actions * {
  padding: 0.5em 1em 0.5em 1em;
  background-color: #000;
  color: #FFF;
  width: 10em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
}
.actions__back {
  background-color: rgba(0, 0, 0, 0.316);
  backdrop-filter: blur(5px);
}
.actions__back--active {
  display: block;
}
.actions__back--inactive {
  display: none;
}
.actions__forward--active {
  display: block;
}
.actions__forward--inactive {
  display: none;
}

.form__title {
  font-size: 1.2em;
  font-weight: 600;
}
.form__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form__list .field {
  width: 100%;
}
.form__list .field__input {
  width: 100%;
  font-size: 1.2em;
  padding: 0.2em 0.2em 0.2em 0;
  border-bottom: 1px solid black;
}

.field {
  width: 100%;
}
.field--fitContent {
  width: fit-content;
}
.field__input[type=text], .field__input[type=email], .field__input[type=number] {
  width: 100%;
  font-size: 1.2em;
  padding: 0.2em 0.2em 0.2em 0;
  border-bottom: 1px solid black;
}
.field__input[type=file]::file-selector-button {
  width: fit-content;
  border: none;
  background: #000;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.field__input[type=file]::file-selector-button:hover {
  background: gray;
}
.field__select {
  width: 100%;
  padding: 0.8em;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.form__controls > * {
  display: block;
}

.component {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.submitdata {
  width: 10em;
  height: 5em;
  cursor: pointer;
}

.btn--primary {
  padding: 0.6em;
  margin: 0.5em 0 0.5em 0;
  color: #FFF;
  cursor: pointer;
  font-size: 1.2em;
  width: fit-content;
  text-transform: uppercase;
  background-color: #000;
}

.step-component {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2.4em;
}
.step-component .step {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 18em;
  gap: 0.5em;
}
.step-component .step__details {
  display: flex;
  gap: 0.6em;
  align-items: center;
}
.step-component .step__details .info {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.step-component .step__details p {
  padding: 0;
}
.step-component .step__image {
  object-fit: cover;
  cursor: pointer;
}
.step-component .step__title {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  padding-left: 12px;
  font-weight: 600;
}
.step-component .step__title::before {
  content: "";
  position: absolute;
  width: 6px;
  border-radius: 50%;
  height: 6px;
  top: calc(50% - 3px);
  left: 0;
  background-color: #000;
}
.step-component .step__tag {
  letter-spacing: 0.1em;
  font-size: 0.95em;
  color: gray;
}
.step-component .modal {
  position: absolute;
  right: 0;
  background-color: rgb(63, 63, 63);
  top: 0%;
  width: 100%;
  max-width: 35em;
  display: flex;
  flex-wrap: wrap;
  color: #FFF;
  padding: 1em;
  justify-content: center;
}
.step-component .modal .info {
  width: 100%;
  max-width: 50%;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.step-component .modal .info .etapa {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
}
.step-component .modal .info .title {
  font-weight: 700;
}
.step-component .modal .info .description {
  margin-top: auto;
  font-weight: 500;
  font-size: 0.8rem;
}
.step-component .modal .video {
  width: 100%;
  max-width: 50%;
  padding: 0.4em;
}
.step-component .modal .video iframe {
  width: 100%;
  height: auto;
}

.modal#imageModal {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(19, 19, 19);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
.modal#imageModal > #image {
  max-height: 96%;
  max-width: 100%;
  object-fit: contain;
}
.modal.active {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.modal.inactive {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.modal .modal__control {
  cursor: pointer;
  width: 2em;
  height: 2em;
  position: absolute;
  left: calc(100% - 2em);
  padding: 0.2em;
  top: 0;
  filter: invert(1);
}

@keyframes firework {
  0% {
    transform: translateY(20px);
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: initial;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    padding: 0 1em 1em 1em;
  }
  .header-section {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-section .header {
    padding: 1em;
    width: 100%;
  }
  .header-section .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border: 1px solid black;
    justify-content: center;
  }
  .header-section .logo__image {
    width: auto;
    filter: invert(1);
  }
  .header-section__background {
    display: none;
  }
  .header-section::after {
    background: none;
  }
  .section {
    padding: 1em;
  }
  .header {
    width: 100%;
    padding: 1em;
    justify-content: center;
  }
  .header__title {
    font-size: 1.6em;
    font-weight: 600;
  }
  .header__subtitle {
    font-size: 1.2em;
    font-weight: 500;
  }
  .wrapper__content {
    width: 100%;
  }
  .actions {
    flex-wrap: wrap;
    gap: 4%;
  }
  .actions > * {
    width: 48%;
    min-width: 4em;
  }
}
@media only screen and (max-width: 850px) {
  .step-component .step {
    max-width: none;
  }
}
@media only screen and (max-width: 470px) {
  .step-component .modal .video, .step-component .modal .info {
    width: 100%;
    padding: 0.6em;
    max-width: none;
  }
}
@media only screen and (min-width: 1000px) {
  .wrapper__content {
    padding: 4em 4em 0.5em 4em;
  }
}

/*# sourceMappingURL=style.css.map */
